# Xcode

build/
DerivedData/
xcuserdata/

# Swift / Objc_C specific
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager

# CocoaPods
Pods/

# Carthage 
Carthage/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
RxSwift
